<% if !@ebook.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @ebook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>EZPub <small>PoweredbySpritz™</small></h1>
  <p>EZPub (pronounced <em>easy-pub</em>) is an online tool designed to help you read your eBooks faster, easier, and more effectively by using the power of <strong><a href="http://www.spritzinc.com/">Spritz</a></strong>.</p>
  <p><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Upload eBook &raquo;</button></p>
</div>

<div class="row">
  <div align="middle">
    <div class="well">
      <div class="fb-like" data-href="https://read-blitz.herokuapp.com/" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
    </div>
  </div>
</div>

<hr>

<div>
  <h1>Screenshots</h1>
  <br />
  <h2>Book Cover</h2>
  <br />
  <div align="middle">
    <%= image_tag("screenshot1.jpg", :alt => "Front Page", :width => "75%") %>
  </div>
  <br />
  <h2>Spritz'ing eBook Content</h2>
  <div align="middle">
    <%= image_tag("screenshot2.jpg", :alt => "Spritz", :width => "75%") %>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Select an eBook to read with Spritz</h4>
      </div>
      <div class="modal-body">
        <p style="color:#D95352;" align="middle">
          <strong>25 MB limit.</strong> Only .epub files allowed. Files deleted regularly.
          <br/>
          Because eBooks are fairly large in size (>5 MB), it might take a while to upload and render. In addition, if your internet connection is slow, the app might timeout. Please be patient, I am working on a method to do this file processing in the background.
        </p>
        <%= form_for @ebook, html: { multipart: true } do |f| %>
          <%= f.file_field :attachment %>
          <%= f.submit "Upload", class: "btn btn-primary" %>
        <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

