<!DOCTYPE html>
<html>
<head lang="en">
	<title>Ezpub</title>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<%= csrf_meta_tags %>

	<script type="text/javascript">
		if(!window.location.hash) {
		    window.location = window.location + '#spritz';
		    window.location.reload();
		}
	</script>

	<script type="text/javascript">
		var SpritzSettings = {
			clientId: "4524122930975538943",
			redirectUri: "http://ezpub.herokuapp.com/login_success.html",
			
		};
		console.log("login")
	</script>
	<script type="text/javascript" src="//sdk.spritzinc.com/js/1.2/js/spritz.min.js"></script>
</head>
<body>

<div class="container" style="padding-top:20px;">

	<%= link_to "Back", new_ebook_path, class: "btn btn-primary" %>

	<div class="row">
		<div align="middle">
			<%= will_paginate @pages %>
				<div id="spritzer" align="middle"></div>
				<br />
				<br />
				<button class="btn btn-success" id="startSpritz" type="submit">Spritz!</button>
				<br />
				<br />
				<textarea id="inputText" style="width:350px;height:150px;">
					<%= render @pages %>
				</textarea>
				<p>
					<%= render :partial => 'pages/content', :collection => @pages, :as => :page %>
				</p>
			<%= will_paginate @pages %>
		</div>
	</div>


	<script type="text/javascript">
		(function() {
			var spritzController = null;

			var onSpritzifySuccess = function(spritzText) {
				spritzController.startSpritzing(spritzText);
			};

			var onSpritzifyError = function(error) {
				alert("Unable to Spritz: " + error.message);
			};

			function onStartSpritzClick(event) {
				var text = $('#inputText').val();
				var locale = "en_us;";

				// Send to SpritzEngine to translate
				SpritzClient.spritzify(text, locale, onSpritzifySuccess, onSpritzifyError);
			};

			// Customized options
			var customOptions = {
		            placeholderText:    { startText: '' },
					redicleWidth: 	    434,	// Specify Redicle width
					redicleHeight: 	    76		// Specify Redicle height
			};

			var init = function() {
				$("#startSpritz").on("click", onStartSpritzClick);

				// Construct a SpritzController passing the customization options
				spritzController = new SPRITZ.spritzinc.SpritzerController(customOptions);

				// Attach the controller's container to this page's "spritzer" container
				spritzController.attach($("#spritzer"));

				var text = $('#inputText').val();
				var locale = "en_us;";

				// Send to SpritzEngine to translate
				SpritzClient.spritzify(text, locale, onSpritzifySuccess, onSpritzifyError);
				};

				$(document).ready(function() {
					init();
				});

		})();
	</script>
				

</div>

</body>
</html>