<%= link_to "Back", new_ebook_path, class: "btn btn-primary" %>

<div class="row">
	<div align="middle">
		<%= will_paginate @pages %>
			<div id="spritzer" align="middle"></div>
			<br />
			<br />
			<button class="btn btn-success" id="startSpritz" type="submit">EZPub!</button>
			<br />
			<br />
			<textarea id="inputText" style="width:350px;height:150px;">
				<%= render @pages %>
			</textarea>
			<p>
				<%= render :partial => 'pages/content', :collection => @pages, :as => :page %>
			</p>
		<%= will_paginate @pages %>
	</div>
</div>

<%= render 'spritz' %>