<%= javascript_tag do %>
	var pusher = new Pusher('c15372e0b28fbbc25e71');
	var channel = pusher.subscribe('ebook-uploader');

	pusher.log = function(message) {
	  if (window.console && window.console.log) {
	    window.console.log(message);
	  }
	};

	$(document).ready(function(){
		$('.progress').hide();
	});

	channel.bind('ebook-percent', function(data) {
		if (data.message != "done") {
			$('.progress').show()
			$('.progress-bar').css("width", data.message + "%");
		} else {
			location.reload();
		}
	});
<% end %>
<% if @page %>
	<%= javascript_tag do %>
		var url = window.location.href;
		if (url.indexOf('?') == -1){  
			url += '?page=<%= @page %>';
			window.location.href = url;
		}
	<% end %>
<% end %>
<div id="paginate" class="row" align="middle" data-toggle="tooltip" data-placement="top" title="Browse through different pages!">
	<%= will_paginate @pages, renderer: BootstrapPagination::Rails %>
</div>
<div class="row">
	<div class="col-md-6" align="middle">
		<br />
		<div id="spritzer" align="middle"></div>
		<br />
		<br />
		<button class="btn btn-success" id="startSpritz" type="submit" data-toggle="tooltip" data-placement="top" title="Click to Spritz through the page!">EZPub!</button>
		<br />
		<br />
		<textarea id="inputText" style="width:450px;height:250px;" data-toggle="tooltip" data-placement="right" title="Text-only contents of the eBook will be displayed here. Edit the text to be Spritz'd!">
			<%= render @pages %>
		</textarea>
	</div>
	<div id="ebook" class="col-md-6" data-placement="top" title="View contents of the eBook">
		<div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
		  </div>
		</div>
		<p>
			<%= render :partial => 'pages/content', :collection => @pages, :as => :page %>
		</p>
		<br />
	</div>
</div>
<div class="row" align="middle">
	<%= will_paginate @pages, renderer: BootstrapPagination::Rails %>
</div>


<%= render 'spritz' %>
<script>
      $('#paginate').tooltip()
      $('#startSpritz').tooltip()
      $('#inputText').tooltip()
      $('#ebook').tooltip()
</script>