<!DOCTYPE html>
<html>
<head>
  <title>Ezpub</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" style="padding-top:20px;">
	<div id="user-widget">
	  <% if current_user %>
	    Welcome <strong><%= current_user.name %></strong>!
	    <%= link_to "Sign out", signout_path, id: "sign_out" %>
	  <% else %>
	    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
	  <% end %>
	</div>
	  <script type="text/javascript">
		var SpritzSettings = {
			clientId: "4524122930975538943",
			redirectUri: "http://ezpub.herokuapp.com/login_success.html",
			
		};
	</script>
	<%= yield %>
</div>

</body>
</html>
